@{
    ViewData["Title"] = "Moja stronka";
}
<h1 style="color: red">@ViewData["Title"]</h1>

<html>
    <head>
        <body style="background-color: black">
        <iframe src="https://www.bing.com/" height="600" width="750"></iframe>
        <marquee behavior="scroll" direction="right">
            <img src="https://media.tenor.com/sV-O8FvCT6UAAAAi/emoji-grin.gif" height="500" />
        </marquee>
        <marquee behavior="scroll" direction="right">
            <img src="https://media.tenor.com/sV-O8FvCT6UAAAAi/emoji-grin.gif" height="500" />
        </marquee>
        </body>
    </head>
</html>